---
import BaseLayout from '../../layouts/BaseLayout.astro';

import Hero from '../../components/Hero.astro';

import ArticleExtractor from '../../vue/ArticleExtractor.vue';
---

<meta property="og:type" content="product">
<meta property="og:title" content="Article Extractor - Free tools to extract the main content from any URL and convert it into clean HTML, ready for use in your favorite CMS.">
<meta property="og:url" content="https://izdrail.com/tools/article-writer/">
<meta property="og:image" content="https://i.imgur.com/XF92B0Q.png">
<meta property="og:description" content="Start curating your content with this free tool that extracts the main content from any URL and converts it into clean HTML, ready for use in your favorite CMS.">
<meta property="product:plural_title" content="">
<meta property="product:price.amount" content="0">
<meta property="product:price.currency" content="GBP">
<meta name="author" content="Stefan ♥">
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Article Extractor",
        "description": "Start curating your content with this free tool that extracts the main content from any URL and converts it into clean HTML, ready for use in your favorite CMS.",
        "review": {
            "@type": "Review",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": 4,
                "bestRating": 5
            },
            "author": {
                "@type": "Person",
                "name": "Stefan"
            }
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": 4.4,
            "reviewCount": 89
        }
    }
</script>
<BaseLayout
	title="Article Writer"
	description="Extract text from any link and analyze it for keywords, sentiment, and more."
>
	<div class="stack gap-20">

		<main class="wrapper stack gap-12">
			<Hero
				title="Article extractor"
				tagline="Start curating your content with this free tool that extracts the main content from any URL and converts it into clean HTML, ready for use in your favorite CMS."
			/>

			<ArticleExtractor client:visible />

            <!-- About the project sections -->
            <section>
                <h3>
                    About Article Extractor
                </h3>
                <div class="text-2xl">
                    <p>
                        This tool allows you to extract the main content from any web page and analyze it for keywords, sentiment, and more.
                    </p>
                    <p>
                        The tool is designed to help <b>webmasters</b>, <b>marketers</b> and search engine optimization (SEO) specialists to get a more insightful image on a piece of content .
                    </p>

                </div>
            </section>


            <!--Requirements for running -->
            <section>
                <h3>
                   Why I've built this tool
                </h3>
                <div class="text-2xl">
                    <p>
                        I've decided to built this tool for showcasing  my skills in building web applications using the latest technologies like python, fastapi, vuejs, tailwindcss and docker.
                    </p>
                </div>
            </section>

            <section>
                <h3 title="how to run your own">
                    Run your own
                </h3>
                <div class="text-2xl">
                    <p>
                        I've decided to make the source code of this tool available to the public.
                        You can run your own instance of the tool by following the instructions on the <a href="https://github.com/cornatul/api.todayintel.com">GitHub repository</a> .
                    </p>
                    <p>
                        Or even better run it on your local machine using docker and docker-compose.
                    </p>
                    <p class="mt-5">
                        <code>
                            docker pull izdrail/intel.izdrail.com:latest
                        </code>
                    </p>
                </div>
            </section>

            <section>
                <h3>
                    Open API Documentation
                </h3>
                <div class="text-2xl">
                    <p>
                        The API documentation is available online at the following address:
                    </p>
                    <p class="mt-5">
                        <code>
                            https://intel.izdrail.com/docs
                        </code>
                    </p>
                    <p>
                        <br>
                        Feel free to use the API for your own projects.
                    </p>
                </div>
            </section>

            <section>
                <h3 title="Technologies used">
                    Technologies used
                </h3>
                <div class="text-2xl">
                    <p>
                        The tool is built using the following technologies:
                    </p>
                    <ul class="list-disc list-inside">
                        <li>Python</li>
                        <li>FastAPI</li>
                        <li>NLTK</li>
                        <li>Vader sentiment analysis</li>
                        <li>Spacy NLP</li>
                        <li>Flask</li>
                    </ul>
                </div>

            </section>

        <section>
            <p><strong>Uncover Content Insights & Optimize Websites</strong></p>

            <p>This powerful tool empowers webmasters, marketers, and SEO specialists to gain a deeper understanding of any online content. With a single click, Article Extractor dives into web pages, extracting the core HTML content and analyzing it for valuable insights, including:</p>

            <ul>
                <li><strong>Keywords:</strong> Identify the most relevant keywords used in the content, providing a foundation for targeted SEO strategies.</li>
                <li><strong>Sentiment:</strong> Understand the emotional tone of the content, allowing you to tailor your messaging and audience engagement.</li>
                <li><strong>Advanced NLP (Natural Language Processing):</strong> Leverage cutting-edge NLP techniques to uncover deeper content meaning and structure.</li>
            </ul>

            <p><strong>Built with Cutting-Edge Technologies</strong></p>

            <p>Article Extractor showcases the power of modern web development tools, utilizing the latest advancements in:</p>

            <ul>
                <li>Python</li>
                <li>FastAPI</li>
                <li>Vue.js</li>
                <li>Tailwind CSS</li>
                <li>Docker</li>
            </ul>

            <p><strong>Run It Your Way</strong></p>

            <p>Experience the flexibility of Article Extractor:</p>

            <ul>
                <li><strong>Deploy your own instance:</strong> Explore the source code on the public GitHub repository and follow the instructions to launch your own customized version of the tool.</li>
                <li><strong>Local Development:</strong> Get started quickly by deploying Article Extractor directly on your machine using Docker and Docker Compose.</li>
            </ul>

            <p><strong>Open API & Collaboration</strong></p>

            <p>Expand the application of Article Extractor beyond its core functionalities:</p>

            <ul>
                <li><strong>Comprehensive API Documentation:</strong> Access detailed API documentation at [link to your API documentation here] to integrate Article Extractor's capabilities into your existing projects.</li>
            </ul>

            <p><strong>Start Extracting Insights Today!</strong></p>

            <p>Harness the power of Article Extractor to unlock valuable content insights and optimize your online presence.</p>
        </section>
        </main>
	</div>
</BaseLayout>
