---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
const jsonLd = {
	"@context": "https://schema.org",
	"@type": "Person",
	"name": "Stefan Bogdan",
	"jobTitle": "Senior Software Engineer",
	"description": "Lets talk about software engineering, software development, and the latest trends in the tech industry.",
	"nationality": "Romanian",
	"workLocation": {
		"@type": "Place",
		"address": {
			"@type": "PostalAddress",
			"addressCountry": "United Kingdom"
		}
	},
	"alumniOf": {
		"@type": "CollegeOrUniversity",
		"name": "University of Bucharest",
		"department": "Computer Science",
		"yearStarted": "2010",
		"yearEnded": "2014"
	},
	"knowsAbout": [
		"PHP Development",
		"Python Development",
		"NLP & AI"
	],
	"hasCredential": [
		{
			"@type": "EducationalOccupationalCredential",
			"name": "CloudAmpq Certified Developer",
			"dateCreated": "2023"
		},
		{
			"@type": "EducationalOccupationalCredential",
			"name": "AWS Certified Solutions Architect",
			"dateCreated": "2020"
		},
		{
			"@type": "EducationalOccupationalCredential",
			"name": "AWS Certified Developer",
			"dateCreated": "2018"
		},
		{
			"@type": "EducationalOccupationalCredential",
			"name": "Google Cloud Certified Associate Cloud Engineer",
			"dateCreated": "2018"
		},
		{
			"@type": "EducationalOccupationalCredential",
			"name": "Magento 2 Certification",
			"dateCreated": "2018"
		},
		{
			"@type": "EducationalOccupationalCredential",
			"name": "Laravel Certification",
			"dateCreated": "2016"
		}
	],
	"skills": [
		"PHP",
		"Python",
		"IoT",
		"NLP",
		"AI",
		"Cloud Computing",
		"Laravel",
		"AWS",
		"React",
		"Vue",
		"Tailwind",
		"Node",
		"JavaScript",
		"HTML",
		"CSS",
		"Cybersecurity"
	]
};
---

<BaseLayout title="About me" description=" I'm Stefan, an experienced software developer based in the United Kingdom with over 13 years of hands-on experience. Here's a glimpse into what I bring to the table:">

	<main class="stack gap-20 wrapper about">
		<Hero
			title="About"
			tagline="Thanks for stopping by. Read below to learn more about myself and my background."
		></Hero>

		<img style="border-radius:0;box-shadow:none" src="https://d1.awsstatic.com/training-and-certification/certification-badges/AWS-Certified-Solutions-Architect-Professional_badge.69d82ff1b2861e1089539ebba906c70b011b928a.png" loading="lazy" alt="aws certified developer" class="profile-img">

		<section>
			<h2 class="section-title" title="Professional Background">
				Journey so far
			</h2>
			Hello! I'm Stefan, a software engineer with a passion for crafting elegant solutions rather than reinventing the wheel. Originally from the vibrant landscapes of Romania (Moldova), I honed my skills in computer science and embarked on a journey that has taken me across borders and through a myriad of projects.

			My early career was immersed in the dynamic world of Facilities & Management, where I harnessed the power of PHP and Python to tackle diverse challenges. A stint in Italy during 2012-2014 exposed me to the innovative spirit of startups and incubators, further fueling my desire to push the boundaries of technology.

			With over 13 years of hands-on experience, I specialize in architecting robust, enterprise-level applications that solve real-world problems. My expertise lies in PHP and Python, languages I've come to rely on for their versatility and scalability.

			I'm driven by a deep love for coding and problem-solving, always seeking the most effective tools and techniques to deliver exceptional results. Whether it's building dynamic web applications with PHP or data-driven solutions with Python, I'm committed to writing clean, efficient, and maintainable code.

			Ready to collaborate? If you're searching for a talented PHP or Python developer in the London area, I'm eager to contribute my skills to your next project. Let's work together to turn your vision into reality and create something extraordinary.
			<div class="content text-3xl">
				<p class="mb-10">
					Hello! I’m <strong>Stefan</strong>, software engineer who spends most of his time refining solutions rather than reinventing them.


					<strong>I'm</strong> originally from Romania (<em>Moldova</em>) where I've done my studies in computer science.
	</p>
				I In the first years of my career, I worked on a variety of of projects in the Facilities & management sector, where I gained valuable experience in <strong>PHP</strong> and <strong>Python</strong> programming.

				Between 2012-2014 I've lived in italy for a wile where i had the opportunity to work in different incubators and startups.

					In my  <strong>13 years of hands-on experience</strong> in <strong>software development</strong>, I specialize in building <strong>enterprise-level applications</strong> that tackle complex, real-world problems effectively.

				<p class="mb-10">
					As a passionate <strong>developer</strong>, I’m highly skilled in both <strong>PHP and Python programming</strong>, which I consider my top choices for developing <strong>scalable and high-performance applications</strong>. My work is driven by a love for coding and problem-solving, utilizing the best-suited programming language and tools to deliver optimal results.
				</p>
				<p class="mb-10">
					Each project is an opportunity to push the boundaries of what’s possible in software. Whether it’s creating new features in <strong>PHP</strong> for a web application or building <strong>Python data processing solutions</strong>, I am dedicated to delivering top-quality code that aligns with my clients’ needs and expectations.
				</p>
				<p class="mb-10">
					If you’re looking for a <strong><a href="#">PHP</a> or <a href="#">Python</a> developer</strong> in the London area, I’m available for hire and eager to take on your next development challenge. Let’s work together to bring your vision to life and drive exceptional results with expert programming solutions!
				</p>
			</div>
		</section>

		<section>
			<h2 class="section-title" title="My educations">Education</h2>
			<div class="content">
				<p>
					<strong>University of Bucharest</strong>
					<br />
					<span>Computer Science</span>
					<br />
					<span>2010 - 2014</span>
				</p>
			</div>
		</section>

		<section>
			<h2 class="section-title">Skills</h2>
			<div class="content">
				<ul>
					<li>PHP - spanning over 10+ years of experience</li>
					<li>Python - 7 years of experience</li>
					<li>IoT - spanning over 6 years of experience</li>
					<li>NLP & AI - 5+ years of experience</li>
					<li>Sentiment analysis, Token Extraction, Document processing, Spacy NLP</li>
				</ul>
			</div>
		</section>

		<section>
			<h2 class="section-title">Certifications</h2>
			<div class="content">
				<p>
					<strong>CloudAmpq <i> Certified Developer, 2023</i></strong><br />
					<strong>AWS <i>Certified Solutions Architect, 2020</i></strong><br />
					<strong>Google Cloud Certified Associate Cloud Engineer, 2018</strong><br />
					<strong>Symfony Certified Engineer, 2013</strong><br />
				</p>
			</div>
		</section>
		<section>
			<h2 class="section-title">Research Papers</h2>
			<div class="content">
				<p>
					<strong>Educating kids in cyber security (2024)</strong>
				</p>
			</div>
		</section>
		<script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
	</main>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
		b, strong {
			color: var(--gray-400);
		}
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.button {
		display: inline-block;
		padding: 0.75rem 1.5rem;
		background-color: var(--primary-color);
		color: #fff;
		border-radius: 0.375rem;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		transition: background-color 0.3s ease;
	}

	.button:hover {
		background-color: var(--primary-color-dark);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
