---
// Import components
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---
<!-- Calendly widget styles and script -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<!-- Main wrapper section -->
<section class="wrapper stack flex justify-center items-center">


    <!-- Contact options container -->
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-12 mt-10 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">

            <!-- Video Meeting option -->
            <div class="p-4 rounded-lg md:p-6 dark:bg-gray-800">
                <p class=" text-2xl  font-medium text-center">Video Meeting</p>
                <p class="mt-2 text-sm text-center">Mon-Fri from 9am to 5pm.</p>
                <p class="mt-2 text-sm text-blue-500 dark:text-blue-400 text-center">
                    <!-- Calendly booking link -->
                    <a class="text-blue-500 dark:text-blue-400" title="contact me" href="#"
                       onclick="Calendly.initPopupWidget({url: 'https://calendly.com/izdrail/'}); return false;">
                        Book a 30-minute videochat
                    </a>
                </p>
            </div>

            <!-- Call option -->
            <div class="p-4 rounded-lg md:p-6">
                <p class="text-2xl text-center">Call me</p>
                <p class="mt-2 text-sm text-center">Mon-Fri from 9am to 5pm.</p>
                <p class="mt-2 text-sm dark:text-blue-400 text-center">
                    <a title="laravel developer london contact number" class="text-blue-500 dark:text-white"
                       href="tel:+447448218899">+44 (744) 821-8899</a>
                </p>
            </div>
            <!-- Call option -->
            <div class="p-4 rounded-lg md:p-6">
                <p class="text-2xl text-center">Email me</p>
                <p class="mt-2 text-sm text-center">Anytime.</p>
                <p class="mt-2 text-sm dark:text-blue-400 text-center">
                    <a title="laravel developer london contact number" class="text-blue-500 dark:text-white"
                       href="tel:stefan@izdrail.com">stefan@izdrail.com</a>
                </p>
            </div>
        </div>
    </div>

    <!--  -->
    <div class="p-4 rounded-lg md:p-8 mt-8">

        <CallToAction title="my cv" href="https://cv.izdrail.com" target="_blank">
            <p class="text-center">
                View my CV
            </p>
        </CallToAction>
    </div>
</section>

<style>
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        border-top: 1px solid var(--gray-800);
        border-bottom: 1px solid var(--gray-800);
        padding: 5rem 1.5rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    h2 {
        font-size: var(--text-xl);
        text-align: center;
        max-width: 15ch;
    }

    @media (min-width: 50em) {
        aside {
            padding: 7.5rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        h2 {
            font-size: var(--text-3xl);
            text-align: left;
        }
    }
</style>
