---
import BaseLayout from '../layouts/BaseLayout.astro';


import Hero from '../components/Hero.astro';
import BookingCTA from "../components/BookingCTA.astro";


---

<BaseLayout
	title="Senior Software developer contact details"
	description="You can reach out to me at any time to discuss your project or to ask any questions you may have."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Contact me"
				tagline="I am usual available for hire in London"
				align="center"
			/>
			<BookingCTA />
		</main>
	</div>
</BaseLayout>
