---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Terms Policy" description="Terms Policy">
	<Hero title='Terms Policy' />
	<div class="container px-6 py-12 mx-auto">
		<div class="wrapper mx-auto">

		</div>
	</div>
</BaseLayout>