---
import BaseLayout from '../../layouts/BaseLayout.astro';

import Hero from '../../components/Hero.astro';

import ArticleExtractor from '../../vue/ArticleExtractor.vue';

import WebTorrent from 'webtorrent';

---

<meta property="og:type" content="product">
<meta property="og:title" content="Watch free movies online using the power of docker">
<meta property="og:url" content="https://izdrail.com/tools/movies/">
<meta property="og:image" content="https://i.imgur.com/XF92B0Q.png">
<meta property="og:description" content="Discover the latest movies to watch for in the ">  
<meta property="product:plural_title" content="">
<meta property="product:price.amount" content="0">
<meta property="product:price.currency" content="GBP">
<meta name="author" content="Stefan Bogdan">
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Torrent Streaming",
        "description": "Find the latest things to watch for in the tech industry using the power of p2p streaming.",
        "review": {
            "@type": "Review",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": 4,
                "bestRating": 5
            },
            "author": {
                "@type": "Person",
                "name": "Stefan"
            }
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": 4.4,
            "reviewCount": 89
        }
    }
</script>
<!-- Include the latest version of WebTorrent -->
<script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
          
<BaseLayout
	title="Streaming"
	description="Find the latest things to watch for in the tech industry using the power of p2p streaming."
>
	<div class="stack gap-20">

		<main class="wrapper stack gap-12">
			<Hero
				title="Streaming"
				tagline="Find the latest things to watch for in the tech industry using the power of p2p streaming."

			/>
<!-- 
			<Jobs client:visible /> -->

            <div id="hero">
                <div id="output">
                  <div id="progressBar"></div>
                  <!-- The video player will be added here -->
                </div>
                <!-- Statistics -->
                <div id="status">
                  <div>
                    <span class="show-leech">Downloading </span>
                    <span class="show-seed">Seeding </span>
                    <code>
                      <!-- Informative link to the torrent file -->
                      <a id="torrentLink" href="https://webtorrent.io/torrents/sintel.torrent">sintel.torrent</a>
                    </code>
                    <span class="show-leech"> from </span>
                    <span class="show-seed"> to </span>
                    <code id="numPeers">0 peers</code>.
                  </div>
                  <div>
                    <code id="downloaded"></code>
                    of <code id="total"></code>
                    — <span id="remaining"></span><br/>
                    &#x2198;<code id="downloadSpeed">0 b/s</code>
                    / &#x2197;<code id="uploadSpeed">0 b/s</code>
                  </div>
                </div>
              </div>

              <h1>Torrent File List</h1>
              <div id="fileList"></div>
              <script src="https://cdn.jsdelivr.net/npm/webtorrent@2.5.10/index.min.js"></script>
       
              <script>
        const client = new WebTorrent()

const torrentId = 'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent'

client.add(torrentId, function (torrent) {
  // Torrents can contain many files. Let's use the .mp4 file
  const file = torrent.files.find(function (file) {
    return file.name.endsWith('.mp4')
  })

  // Display the file by adding it to the DOM. Supports video, audio, image, etc. files
  file.appendTo('body')
})
              </script>
        </main>
	</div>
</BaseLayout>
